<footer>

    <div class="container  ">
        <div class="row d-flex justify-content-center">
            <div class="col-10 d-flex justify-content-between py-4">
                <p>Copyright <i class="fa fa-copyright" aria-hidden="true"> &copy; </i> {{name}} 2019 </p>
                <p>Imengelbrod@gmail.com</p>

            </div><!--col-->
        </div><!--row-->
    </div><!--container-->    
    
</footer>